#!name = OPAPP Cookie/Token 获取
#!desc = 用于获取 OPAPP 的 Cookie 和 X-CSRF-Token，自动同步 Gist，并延长 PHPSESSID 有效期。需在 MITM 中添加主机名 g.opapp.cn
#!author = Copilot
#!homepage = https://github.com/Bigzhangbig/panda

#[rewrite_local]
^https?:\/\/g\.opapp\.cn\/pet\/api\/(login|init|task|list)\.php url script-response-body https://raw.githubusercontent.com/Bigzhangbig/panda/master/script/qx_opapp_capture_gist.js

#[mitm]
hostname = g.opapp.cn
